*{
    margin:  0;
    padding:  0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; }

body{
    font-family: arial,sans-seriff;
    line-height: 25px;
    height: 100%;
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

html { font-size:100%; }



.wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 1% 1%;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/*CSS for Header*/
.header{
    background-color: gray;
    color: red;
   
    
}

.header h1{
    text-shadow: 2px 2px black;
}
/*CSS for Main Body*/
.main{
    margin: 1% 0;
}
.main h3{
    color: red;
}
/******hsuuwikfnl*/
.main .booking-details input[type='text'],.main .booking-details input[type='username'],
.main .booking-details input[type='text'],.main .booking-details input[type='password'],
.main .booking-details textarea{
    padding: 1%;
    margin: 0.5%;
    width: 75%;
}
.main .booking-details input[type='submit'], .main .booking-details input[type='button']
{
    padding: 2%;
    background-color: darkblue;
    color: white;
    border: none;
    margin-left: 21%;
}
.main .booking-details input[type='submit']:hover{
    box-shadow: 0 0 3px 2px grey;
}
.main .booking-details input[type='reset']:hover{
    box-shadow: 0 0 3px 2px grey;
}
.main .booking-details input[type='reset']
{
    padding: 2%;
    background-color: darkred;
    color: white;
    border: none;
}
/******hhhhhhhhhh*/
.houses{
     width: 22.5%;
    border: 1px solid grey;
    min-height: 100px;
    max-height: 400px;
    float: left;
    margin: 3px;
    padding: 3px;
    margin-bottom: 30px;
    text-align: center;
}
.houses:hover{
    box-shadow: 0 0 3px 3px silver;
}
.houses img{
    height: 600px;
    max-height: 200px;
    width: 100%;
    padding-bottom: 5%; 
    object-fit: cover;
}
.houses .house-title{
    font-weight: bold;
    color: darkred;
    padding: 1%;
}
.house-price{
    font-size: 120%;
    color: goldenrod;
    padding: 1%;
}
.house-added,.house-location{
    font-weight: lighter;
    font-size: 90%;
    color: darkred;
    padding: 1%;
}
.houses .btn-book{
    padding: 3%;
    margin: 3%;
    background-color: purple;
    color: white;
    border: none;
}
.houses .btn-book:hover{
    background-color: darkred;
}
.book-house img{
    width: 50%;
    float: left;
    margin: 2% 2% 2% 0%;
    padding-bottom: 5%;
}
.book-house h3{
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline;
}
.book-house p{
    text-align: center;
    padding: 1%;
    line-height: 30px;
    color: #394d6d;
}
.main .booking-details{
    width: 50%;
    margin: 0 auto;
    border: 2px solid darkred;
    padding: 2%;
    margin: 2% auto;
    margin-bottom: 15%;
}
.main .booking-details h3{
    margin-bottom: 2%;
}
.main .booking-details .name{
    width: 20%;
    float: left;
}
.main .booking-details input[type='text'],.main .booking-details input[type='email'],
.main .booking-details input[type='tel'],.main .booking-details input[type='password'],
.main .booking-details textarea{
    padding: 1%;
    margin: 0.5%;
    width: 75%;
}
.main .booking-details input[type='submit'], .main .booking-details input[type='button']
{
    padding: 2%;
    background-color: darkblue;
    color: white;
    border: none;
    margin-left: 21%;
}
.main .booking-details input[type='submit']:hover, .main .booking-details input[type='button']:hover{
    box-shadow: 0 0 3px 2px grey;
}
.main .booking-details input[type='reset']:hover{
    box-shadow: 0 0 3px 2px grey;
}
.main .booking-details input[type='reset']
{
    padding: 2%;
    background-color: darkred;
    color: white;
    border: none;
}

/*--------------------------Get In Touch-----------*/
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color:red;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999 !important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-form .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

/*CSS for Footer*/
.footer{
    background-color: gray;
    color: white;
    padding-top: 0%;
    padding-bottom: 0%;
    bottom: 0;
    width: 100%;
    margin: 0;
    position: fixed;
    
}
.footer p{
    text-align: center;

}
.footer p a{
    color: lightred;
}
.footer p a:hover{
    text-decoration: none;
}

/*the services*/


#services
{
    background-color: white;
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    color:  red !important;
    padding-bottom: 10px;
    text-align: center;
}

#services h3
{
    color: red;
    text-align: center;
    padding-bottom: 10px;
}


#services h1::after
{
    content: '';
    background:#efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid grey;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color:grey;
    text-align: center;
}
.services.col-mid-3:hover
{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*----------Navigation---------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a {
    color: red;
    text-decoration: none;
    background-color: transparent;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: red!important;
}
.navbar
{
    background: grey;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}